In [1]:
import pandas as pd
import requests
import os
import os
from dotenv import load_dotenv
import redshift_connector
load_dotenv()

True

In [4]:
def api_call()
    endpoint = 'https://data.cityofnewyork.us/resource/h9gi-nx95.json'
    response = requests.get(endpoint)
    data = response.json()
    df = pd.json_normalize(data)
    df = df.drop_duplicates()

In [6]:
#Selecting less columns and changind data types

def data_transformation()
    df = df.iloc[:,[0,4,5]]
    df['crash_date'] = pd.to_datetime(df['crash_date'])
    df['number_of_persons_injured'] =  pd.to_numeric(df['number_of_persons_injured'], errors="coerce").fillna(0).astype('int64')
    df['number_of_persons_killed'] =  pd.to_numeric(df['number_of_persons_killed'], errors="coerce").fillna(0).astype('int64')
 
    #Group data by day
    df = df.groupby(by='crash_date').sum()
    
    df= df.reset_index()
    
    df['crash_date'] = df['crash_date'].astype(str)

In [11]:
def connect_to_cluster()
    conn = redshift_connector.connect(
     host=os.getenv('host'),
     database=os.getenv('database'),
     port=5439,
     user=os.getenv('user'),
     password=os.getenv('password'))
    
    # Create a Cursor object
    cursor = conn.cursor()

In [15]:
def create_table()

    #Create Table
    create_table_sql = "CREATE TABLE guidogiantorno_coderhouse.collisions4 (crash_date varchar,number_of_persons_injured int,number_of_persons_killed int) DISTKEY(crash_date) SORTKEY(crash_date);"

    cursor.execute(create_table_sql)
    
    # Delete everything from the table to avoid inserting multiple times
    cursor.execute("delete from guidogiantorno_coderhouse.collisions4")

In [21]:
def insert_values()
    # Define the SQL statement to insert data into the table
    insert_sql = """
        INSERT INTO guidogiantorno_coderhouse.collisions4 (crash_date, number_of_persons_injured, number_of_persons_killed)
        VALUES (%s, %s, %s)
    """

    # Generate the values to be inserted as a list of tuples
    values = [tuple(row) for row in df.values]

    # Execute the SQL statement to insert data into the table
    cursor.executemany(insert_sql, values)
    
    # Commit the changes to make them permanent
    conn.commit()

In [23]:
# Query a table using the Cursor
cursor.execute("select * from guidogiantorno_coderhouse.collisions4")